.Sidedrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 15px 10px;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.Logo {
  height: 60px;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

@media (min-width: 500px) {
  .Sidedrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
  opacity: 1;
}

.Close {
  transform: translateX(-100%);
  opacity: 0;
}
